@model CRUD_Operations_Using_EF.Models.Student



@{
    ViewBag.Title = "Index";
}

<center><h2>Insertion of data to database</h2></center>

<div style=" padding: 60px; text-align: center; text-align:center;  background-color: #00ffdc;">
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        <div>
            <span>
                @Html.LabelFor(model => model.ID): &nbsp;
                @Html.TextBoxFor(model => model.ID)
                @Html.ValidationMessageFor(model => model.ID)
            </span>
        @*</div>
        <div>*@
            <span>
                @Html.LabelFor(model => model.NAME): &nbsp;
                @Html.TextBoxFor(model => model.NAME)
                @Html.ValidationMessageFor(model => model.NAME)
            </span>
        @*</div>
        <div>*@
            <span>
                @Html.LabelFor(model => model.EMAIL): &nbsp;
                @Html.TextBoxFor(model => model.EMAIL)
                <span>
                    @Html.ValidationMessageFor(model => model.EMAIL)
                </span>
            </span>
        @*</div>
        <div>*@
            <span>
                @Html.LabelFor(model => model.CITY): &nbsp;
                @Html.TextBoxFor(model => model.CITY)
                @Html.ValidationMessageFor(model => model.CITY)
            </span>
            <span>
                @Html.LabelFor(model => model.PHONENUMBER): &nbsp;
                @Html.TextBoxFor(model => model.PHONENUMBER)
                @Html.ValidationMessageFor(model => model.PHONENUMBER)
            </span>
        </div>
        <br>
    <div>
        <input type="submit" value="submit" />
    </div>
    }
    @ViewBag.SuccessMessage
    <br />
    <div>
        @Html.ActionLink("Back to registration", "Index")  &nbsp; @Html.ActionLink("Update your data","UpdateData")  &nbsp; @Html.ActionLink("delete data", "Delete") &nbsp; @Html.ActionLink("show details of student", "Details")
    </div>

</div>