@*@model CRUD_Operations_Using_EF.Models.Student

@{
    ViewBag.Title = "Update";
}

<h2>Update</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <div>
        @Html.LabelFor(model => model.ID)
        @Html.TextBoxFor(model => model.ID)
        @Html.ValidationMessageFor(model => model.ID)
    </div>
    <div>
        @Html.LabelFor(model => model.NAME)
        @Html.TextBoxFor(model => model.NAME)
        @Html.ValidationMessageFor(model => model.NAME)
    </div>
    <div>
        @Html.LabelFor(model => model.EMAIL)
        @Html.TextBoxFor(model => model.EMAIL)
        @Html.ValidationMessageFor(model => model.EMAIL)
    </div>
    <div>
        @Html.LabelFor(model => model.CITY)
        @Html.TextBoxFor(model => model.CITY)
        @Html.ValidationMessageFor(model => model.CITY)
    </div>


    <input type="submit" value="submit" />
}
@ViewBag.UpdateMessage*@